<!-- Dashboard Patient -->
<div *ngIf="userRole === 'Patient'" class="mx-5">
    <div class="row mb-4">
        <p class="fs-1 text-icon-pink">Bienvenida {{ name }}</p>
        <h3 class="fs-3 text-icon-pink">
            ¿Cómo te encuentras hoy?
        </h3>
    </div>
    <div class="row mt-4">
        <div class="mt-2 bg-white rounded-3">
            <div class="p-3 d-flex text-icon-pink fs-4">
                <i class="bi-calendar-date text-icon-pink"></i>
                <p *ngIf="upcomingDate" class="ps-4 m-0">Tu próxima cita es: {{ upcomingDate.date }} a las {{upcomingDate.time}}</p>
                <p *ngIf="!upcomingDate" class="ps-4 m-0">No hay citas proximas </p>
            </div>
        </div>

    </div>
</div>

<!-- Dashboard Doctor -->
<div *ngIf="userRole === 'Doctor'">
    <div class="container">
        <div class="row">
          <!-- Citas -->
          <div class="col-6">
            <div class="fs-4">
              Fecha: 
              <input class="rounded-3" type="date" name="calendar" [value]="calendarDate" (change)="listAppointments($event)"/>
            </div>
            <div class="list-container bg-white rounded-3 my-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Lista de citas
                </li>
              </ul>
            </div>
            
          </div>
          <!-- Notas -->
          <div class="col-6 bg-white rounded-3">
            <div >
                Form nota medica
            </div>
            
          </div>
        </div>
      </div>
      
</div>