<!-- Dashboard Patient -->
<div *ngIf="userRole === 'Patient'" class="mx-5">
  <div class="row mb-4">
    <p class="fs-1 text-icon-pink">Bienvenida {{ name }}</p>
    <h3 class="fs-3 text-icon-pink">¿Cómo te encuentras hoy?</h3>
  </div>
  <div class="row mt-4">
    <div class="mt-2 bg-white rounded-3">
      <div class="p-3 d-flex text-icon-pink fs-4">
        <i class="bi-calendar-date text-icon-pink"></i>
        <p *ngIf="upcomingDate" class="ps-4 m-0">
          Tu próxima cita es: {{ upcomingDate.date }} a las
          {{ upcomingDate.time }}
        </p>
        <p *ngIf="!upcomingDate" class="ps-4 m-0">No hay citas proximas</p>
      </div>
    </div>
  </div>
</div>

<!-- Dashboard Doctor -->
<div *ngIf="userRole === 'Doctor'">
  <div class="container">
    <p class="fs-3">Citas programadas</p>
    <br>
    <div class="row">
      <!-- Citas -->
      <div class="col-6">
        <div class="fs-5">
          Fecha:
          <input
            class="rounded-3"
            type="date"
            name="calendar"
            [value]="calendarDate"
            (change)="setCalendarDate($event)"
            min="{{ calendarDate }}"
          />
        </div>
        <div class="card" style="margin-top:10px;" *ngIf="appointments.length > 0">
          <div class="card-body">
            <h5 class="card-title">Información de Cita</h5>
            <p class="card-text">Fecha: {{ appointmentSelected.date }}</p>
            <p class="card-text">Hora: {{ appointmentSelected.time }}</p>
            <p class="card-text">Nombre de Paciente: {{ appointmentSelected.patient.user.name }}</p>
            <p class="card-text">Municipio: {{ appointmentSelected.patient.municipality }}</p>
            <p class="card-text">Ocupación: {{ appointmentSelected.patient.occupation }}</p>
            <p class="card-text">Estado Marital: {{ appointmentSelected.patient.maritalStatus }}</p>
            <p class="card-text">Edad: {{ appointmentSelected.patient.age }}</p>
          </div>
        </div>
        <div class="list-container my-3" *ngIf="appointments.length > 0">
          <ul 
           class="list-group list-group-flush">
            <li
              class="list-group-item rounded-3"
              *ngFor="let appointment of appointments"
            >
              <app-appointment-list-item
                [patient]="appointment.patient.user.name"
                [time]="appointment.time.slice(0, 5)"
                [data]="appointment"
                [isCurrent]="appointment.isCurrent"
                (activarFuncionEvent)="miFuncion($event)"
              ></app-appointment-list-item>
            </li>
          </ul>
        </div>        
        <button style="margin-top:0px !important; margin-bottom: 20px;" class="btn mt-5 btn-danger" (click)="terminarCitaActual()">Terminar cita actual</button>
        <div class="list-container my-3" *ngIf="appointmentsList.length > 0">
          <ul 
           class="list-group list-group-flush">
            <li
              class="list-group-item rounded-3"
              *ngFor="let appointment of appointmentsList"
              style="margin-top: 10px;"
            >
              <app-appointment-list-item
                [patient]="appointment.patient.user.name"
                [time]="appointment.time.slice(0, 5)"
                [data]="appointment"
                [isCurrent]="appointment.isCurrent"
                (activarFuncionEvent)="miFuncion($event)"
              ></app-appointment-list-item>
            </li>
          </ul>
        </div>
      </div>
      <!-- Notas -->
      <div class="col-6 bg-white rounded-3" *ngIf="appointments.length > 0">
        <app-appointment-summary-form
          [idAppointment]="appointments[0].idAppointment"
          [summaryDone]="summaryDone.bind(this)"
        ></app-appointment-summary-form>
      </div>
    </div>
  </div>
</div>
