<div class="text-text-pink rounded row">
    <div class="col-4 d-flex align-items-center justify-content-center">
        <span class="px-2" style="font-weight: bold;">Día: </span> {{dia}}
    </div>
    <div class="col-4 d-flex align-items-center justify-content-center">
        <span class="px-2" style="font-weight: bold;">Hora: </span> {{hora}}
    </div>
    <div class="col-4 d-flex align-items-center justify-content-center">
        <i class="bi bi-calendar-date text-icon-pink fs-3"></i>
    </div>
</div>
