<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" />
</head>
<div class="container bg-fondo-pink">
  <div
    class="row justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="col-6">
      <div class="py-3 px-5 border border-fondo-pink bg-white rounded-5">
        <div style="text-align: center">
          <h4
            class="m-0 p-0 mt-3 p-3 fw-bold text-text-pink"
            style="font-family: 'Inter'"
          >
            Regístrate
          </h4>
        </div>
        <form
          *ngIf="formRegisterPatient"
          [formGroup]="formRegisterPatient"
          (ngSubmit)="onSubmit()"
          class="mb-4"
        >
          <div>
            <div class="container my-2">
              <div class="row align-items-center">
                <label class="col-4" for="Nombre">Nombre </label>
                <input
                  class="col form-control rounded-pill bg-fondo-pink"
                  type="text"
                  id="Nombre"
                  pattern="^[A-Za-záéíóúÁÉÍÓÚñÑüÜ\s]+$"
                  formControlName="Nombre"
                />
              </div>
              <div
                class="d-flex justify-content-end"
                *ngIf="
                  formRegisterPatient.get('Nombre')?.invalid &&
                  (formRegisterPatient.get('Nombre')?.dirty ||
                    formRegisterPatient.get('Nombre')?.touched)
                "
              >
                <div
                  class="control-error"
                  *ngIf="formRegisterPatient.get('Nombre')?.errors?.['required']"
                >
                  El campo Nombre es requerido.
                </div>
                <div
                  class="control-error"
                  *ngIf="formRegisterPatient.get('Nombre')?.errors?.['minlength']"
                >
                  El campo Nombre debe ser mayor a 3 caracteres
                </div>
              </div>
            </div>
            <div class="container my-2">
              <div class="row align-items-center">
                <label class="col-4" for="email">Correo electrónico</label>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="col form-control rounded-pill bg-fondo-pink"
                />
              </div>

              <div
                class="d-flex justify-content-end"
                *ngIf="formRegisterPatient.get('email')?.touched"
              >
                <div
                  class="control-error"
                  *ngIf="formRegisterPatient.get('email')?.hasError('required')"
                >
                  El campo Email es requerido.
                </div>
                <div
                  class="control-error"
                  *ngIf="
                    formRegisterPatient.get('email')?.value !== '' &&
                    formRegisterPatient.get('email')?.hasError('emailInvalid')
                  "
                >
                  Correo no válido.
                </div>
              </div>
            </div>
            <div class="container my-2">
              <div class="row align-items-center">
                <label class="col-4" for="telefono">Teléfono</label>
                <input
                  type="telefono"
                  id="telefono"
                  pattern="^[0-9]+$"
                  formControlName="telefono"
                  class="col form-control rounded-pill bg-fondo-pink"
                />
              </div>
              <div
                class="d-flex justify-content-end"
                *ngIf="
                  formRegisterPatient.get('telefono')?.invalid &&
                  (formRegisterPatient.get('telefono')?.dirty ||
                    formRegisterPatient.get('telefono')?.touched)
                "
              >
                <div
                  class="control-error"
                  *ngIf="formRegisterPatient.get('telefono')?.errors?.['required']"
                >
                  Se requiere un número telefónico
                </div>
                <div
                  class="control-error"
                  *ngIf="formRegisterPatient.get('telefono')?.errors?.['minlength']"
                >
                  El teléfono debe tener 10 números
                </div>
                <div
                  class="control-error"
                  *ngIf="formRegisterPatient.get('telefono')?.errors?.['maxlength']"
                >
                  El teléfono debe tener 10 números
                </div>
              </div>
            </div>
          </div>
          <form class="my-2" [formGroup]="formRegisterPatient" (ngSubmit)="onSubmit()">
            <div class="container my-3">
              <div class="row align-items-center">
                <label class="col-4" for="password">Contraseña</label>
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  [(ngModel)]="pass"
                  class="col form-control rounded-pill bg-fondo-pink"
                />
              </div>
              <div
                class="d-flex justify-content-end"
                *ngIf="
                  formRegisterPatient.get('password')?.touched &&
                  formRegisterPatient.get('password')?.invalid
                "
              >
                <div
                  class="control-error"
                  *ngIf="formRegisterPatient.get('password')?.errors?.['required']"
                >
                  Se requiere una contraseña
                </div>
                <div
                  class="control-error"
                  *ngIf="formRegisterPatient.get('password')?.errors?.['minlength']"
                >
                  La contraseña debe tener al menos 8 caracteres
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row align-items-cente">
                <label class="col-4" for="confirmPassword">Confirmar Contraseña</label>
                <input
                  type="password"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  [(ngModel)]="pass2"
                  class="col form-control rounded-pill bg-fondo-pink mb-2"
                />
              </div>
              <div
                class="d-flex justify-content-end"
                *ngIf="
                  formRegisterPatient.get('confirmPassword')?.touched &&
                  formRegisterPatient.get('confirmPassword')?.invalid
                "
              >
                <div
                  class="control-error"
                  *ngIf="formRegisterPatient.get('confirmPassword')?.errors?.['required']"
                >
                  Se requiere confirmar la contraseña
                </div>
                <div
                  class="control-error"
                  *ngIf="formRegisterPatient.get('confirmPassword')?.errors?.['passwordsNotMatch']"
                >
                  Las contraseñas no coinciden
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center pt-4">
              <button
                type="submit"
                [disabled]="formRegisterPatient.invalid"
                class="btn bg-btn-pink rounded-pill w-50 text-white"
              >
                Crear cuenta
              </button>
            </div>
          </form>
        </form>
        <div class="d-flex justify-content-center">
          <p>
            ¿Ya tienes cuenta?
            <span><a href="/login" class="text-btn-pink">Inicia sesión aquí</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
