<div class="row">
    <div class="col-6">
        <div class="form-group mb-4">
            <h5 class="mb-2 text-icon-pink">Seleccione una paciente</h5>
            <select class="form-select mt-2" [(ngModel)]="pacienteSeleccionada" (change)="getInfoPaciente()" >
              <option *ngFor="let paciente of pacientes" [ngValue]="paciente">{{ paciente.name }}</option>
            </select>
        </div>
        <div class="mb-4">
            <h5 class="text-icon-pink">Datos generales de la paciente</h5>
            <div *ngIf="pacienteSeleccionada !== undefined" class="p-3 mt-2 bg-white rounded-3">
                <app-datos-embarazada
                    [nombre]= "pacienteSeleccionada.name"
                    [edad]="pacienteSeleccionada.age"
                    [curp]="pacienteSeleccionada.curp"
                    [estadoCivil]="pacienteSeleccionada.maritalStatus"
                    [ocupacion]="pacienteSeleccionada.occupation"
                    [estado]="pacienteSeleccionada.state"
                    [municipio]="pacienteSeleccionada.municipality"
                    [localidad]="pacienteSeleccionada.locality"
                    [direccion]="pacienteSeleccionada.address"
                ></app-datos-embarazada>
            </div>
        </div>
        <div class="mb-4">
            <h5 class="text-icon-pink">Próximas citas de la paciente</h5>
            <div class="p-3 mt-2 bg-white rounded-3" *ngFor="let cita of citas">
                <app-informacion-cita
                    [dia]="cita.fecha"
                    [hora]="cita.hora"
                ></app-informacion-cita>
            </div>
        </div>
        <div class="mb-4">
            <h5 class="text-icon-pink">Expediente de la paciente</h5>
            <div class="p-3 mt-2 bg-white rounded-3">
                <app-informacion-expediente-paciente
                    [MedRecBackground]="pacienteSeleccionada.MedRecBackground"
                    [MedRecDiagnostic]="pacienteSeleccionada.MedRecDiagnostic"
                    [MedRecNumber]="pacienteSeleccionada.MedRecNumber"
                    [MedRecPhyExam]="pacienteSeleccionada.MedRecPhyExam"
                    [MedRecResults]="pacienteSeleccionada.MedRecResults"
                    [MedRecTreatment]="pacienteSeleccionada.MedRecTreatment"
                    [idUser]="pacienteSeleccionada.id"
                ></app-informacion-expediente-paciente>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="mb-4">
            <h5 class="text-icon-pink">Notas Médicas de la paciente</h5>
            <div class="p-3 mt-2 bg-white rounded-3" *ngFor="let cita of citas">
                <div class="row">
                    <div class="col-9">
                        <app-informacion-medica-paciente
                            [fecha]="cita.fecha"
                            [titulo]="cita.summary"
                        ></app-informacion-medica-paciente>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <button class="btn bg-btn-pink rounded-pill text-white" (click)="openModalCita(cita)" data-bs-toggle="modal" data-bs-target="#modalNotaMedica">Abrir</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <h5 class="text-icon-pink">Diario de la paciente</h5>
            <div class="p-3 mt-2 bg-white rounded-3" *ngFor="let hoja of diario">
                <div class="row">
                    <div class="col-9">
                        <app-informacion-diario-paciente
                        [fechaDiario]="hoja.fecha"
                        [tituloDiario]="hoja.title"
                        ></app-informacion-diario-paciente>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <button class="btn bg-btn-pink rounded-pill text-white" (click)="openModal(hoja)" data-bs-toggle="modal" data-bs-target="#modalDiario">Abrir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDiario" tabindex="-1" [ngClass]="{'show': modalVisible}" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-icon-pink" id="exampleModalLabel">{{ hojaSeleccionada?.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <span class="fw-bold">Fecha:</span>
            <p>{{ hojaSeleccionada?.fecha }}</p>
            <span class="fw-bold">Más información:</span>
            <p>{{ hojaSeleccionada?.informacion }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-btn-pink rounded-pill text-white" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modalNotaMedica" tabindex="-1" [ngClass]="{'show': modalVisibleCita}" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-icon-pink" id="exampleModalLabel">{{ citaElegida?.summary }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <span class="fw-bold">Fecha:</span>
            <p>{{ citaElegida?.fecha }}</p>
            <span class="fw-bold">Más información:</span>
            <p>{{ citaElegida?.prescription }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-btn-pink rounded-pill text-white" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>