  <div class="container bg-navegacion-pink text-text-pink mt-4 px-0">
    <div class="px-3">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start  vh-100"
      >
        <br>
        <ul
          *ngIf="role=='Doctor'" 
          class="nav nav-pills pt-5 flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li >
            <!-- Aqui hay que poner el link hacia el dashboard del doctor (en [link])-->
            <app-menu-option
              [titulo]="'Menu'"
              [link]="'dashboard'"
              [icon]="'bi-house'"
            ></app-menu-option>
          </li>
          <li>
            <app-menu-option
              [titulo]="'Expedientes'"
              [link]="'expediente'"
              [icon]="'bi bi-folder'"
            ></app-menu-option>
          </li>
          <li>
            <app-menu-option
              [titulo]="'Perfil'"
              [link]="'mi-cuenta'"
              [icon]="'bi-person'"
            ></app-menu-option>
          </li>
        </ul>
        <ul
          *ngIf="role=='Patient'"
          class="pt-5 nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li >
            <!-- Aqui hay que poner el link hacia el dashboard de la paciente (en [link])-->
            <app-menu-option
              [titulo]="'Menu'"
              [link]="'dashboard'"
              [icon]="'bi-house'"
            ></app-menu-option>
          </li>
          <li>
            <app-menu-option
              [titulo]="'Citas'"
              [link]="'cita'"
              [icon]="'bi-list-stars'"
            ></app-menu-option>
          </li>
          <li>
            <app-menu-option
              [titulo]="'Mi Diario'"
              [link]="'diario'"
              [icon]="'bi bi-book'"
            ></app-menu-option>
          </li>
        </ul>
        <div class="d-flex justify-content-center mb-5 ms-3">
            <button (click)="logout()" class="btn bg-btn-pink rounded-pill  text-white">Cerrar sesión</button>
        </div>  
      </div>
    </div>
  </div>
