<div class="bg-navegacion-pink text-text-pink mx-5 px-5">
  <form class="mx-5 px-5" [formGroup]="citaForm" (ngSubmit)="onSubmit()">
    <div class="alert alert-verdeSuccess" role="alert" *ngIf="showSuccessAlert">
      <div class="row">
          <div class="col-6">
              La cita fue agendada
          </div>
          <div class="col-6 d-flex justify-content-end">
              <button type="button" class="btn-close" (click)="hideAlert()"></button>
          </div>
      </div>
    </div>
    <p class="fs-3">Agende una cita</p>
    <div class="form-group pt-4">
      <label for="doctor">Selecciones un doctor</label>
      <select class="form-select" formControlName="idDoctor">
        <option *ngFor="let doctor of doctores" [value]="doctor.idDoctor">{{ doctor.name }}</option>
      </select>
    </div>
    <div class="form-group pt-4">
      <label for="date">Seleccione el día de la cita</label>
      <input type="date" class="form-control" id="date" formControlName="date" (ngModelChange)="availableTime()">
    </div>
    <div class="form-group pt-4">
      <label for="time">Seleccione la hora de la cita</label>
      <select class="form-select" formControlName="time">
        <option *ngFor="let hora of horasNoOcupadas">{{ hora }}</option>
      </select>
    </div>
    <div class="pt-4">
      <button type="submit" class="btn bg-btn-pink text-white ">Crear</button>
    </div>
  </form>
</div>
