<div class="bg-fondo-pink mx-5 text-text-pink">
  <form [formGroup]="citaForm" (ngSubmit)="onSubmit()">
    <p class="fs-3">Agende una cita</p>
    <div class="form-group pt-4">
      <label for="idDoctor">Seleccione a su médico</label>
      <select class="form-control" id="idDoctor" formControlName="idDoctor">
        <option *ngFor="let doctor of doctores" [value]="doctor">{{ doctor }}</option>
      </select> 
    </div>
    <div class="form-group pt-4">
      <label for="date">Fecha</label>
      <input type="date" class="form-control" id="date" formControlName="date">
    </div>
    <div class="form-group pt-4">
      <label for="time">Hora</label>
      <input type="time" class="form-control" id="time" formControlName="time">
    </div>
    <div class="pt-4">
      <button type="submit" class="btn bg-btn-pink text-white ">Crear</button>
    </div>
  </form>
</div>
