#cajaExterior {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #fff9f9;
    opacity: 1;
    background-image:  radial-gradient(#ffd9e5 2px, transparent 2px), radial-gradient(#ffd9e5 2px, #fff9f9 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
}

#myIcon{
  background: #fff;
}

.rounded-pill {
    border-radius: 20px;
  }

#registrar-url{
    text-decoration: none;
}
input.ng-invalid.ng-touched {
  border: solid 2px rgb(223, 107, 87) !important;
}

input.ng-valid {
  border: solid 2px #3cc53d !important;
}

.control-error{
  color: rgb(223, 107, 87);
  font-size: 12px;
}