<div class="text-text-pink rounded">
    <p class="p-0 m-0"><span style="font-weight: bold;">Nombre: </span>{{nombre}}</p>
    <p class="p-0 m-0"><span style="font-weight: bold;">Edad: </span>{{edad}}</p>
    <p class="p-0 m-0"><span style="font-weight: bold;">CURP: </span>{{curp}}</p>
    <p class="p-0 m-0"><span style="font-weight: bold;">Estado civil: </span>{{estadoCivil}}</p>
    <p class="p-0 m-0"><span style="font-weight: bold;">Ocupación: </span>{{ocupacion}}</p>
    <p class="p-0 m-0"><span style="font-weight: bold;">Estado: </span>{{estado}}</p>
    <p class="p-0 m-0"><span style="font-weight: bold;">Municipio: </span>{{municipio}}</p>
    <p class="p-0 m-0"><span style="font-weight: bold;">Localidad: </span>{{localidad}}</p>
    <p class="p-0 m-0"><span style="font-weight: bold;">Direccion: </span>{{direccion}}</p>
</div>